In [1]:
import numpy as np                                  # "Scientific computing"
import scipy.stats as stats                         # Statistical tests

import pandas as pd                                 # Data Frame
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt                     # Basic visualisation

In [5]:
transavia = pd.read_csv("../data/transavia/transaviaScrapeData_2023-03-23.csv")
transavia.head()

,scrapeDate,departAirport,arrivalAirport,marketingAirline,departureDate,arrivalDate,flightNumber,totalPrice,baseFare,taxSurcharge
0,2023-03-23,BRU,HER,HV,2023-04-01T06:35:00,2023-04-01T11:00:00,9209,329.0,291.86,37.14
1,2023-03-23,BRU,ALC,HV,2023-04-01T16:35:00,2023-04-01T19:05:00,9003,199.0,161.86,37.14
2,2023-03-23,BRU,IBZ,HV,2023-04-01T12:30:00,2023-04-01T14:50:00,9009,268.0,230.86,37.14
3,2023-03-23,BRU,FAO,HV,2023-04-02T07:10:00,2023-04-02T09:05:00,9007,215.0,177.86,37.14
4,2023-03-23,BRU,ALC,HV,2023-04-02T17:25:00,2023-04-02T19:55:00,9003,182.0,144.86,37.14

# Brussel-Alicante | Aantal vluchten | 15/5/2023 - 20/5/2023

In [6]:
len(transavia.query("departAirport == 'BRU' and arrivalAirport == 'ALC' and (departureDate >= '2023-05-15' and departureDate <= '2023-05-20')"))

3

# Brussel-Faro | Gemiddelde Prijs | juni

In [9]:
transavia.query("departAirport == 'BRU' and arrivalAirport == 'FAO' and (departureDate >= '2023-06-01' and departureDate <= '2023-06-31')").totalPrice.mean()

105.5

# Brussel-Ibiza | Vertrekuur | 24/5/2023

In [15]:
transavia.query("departAirport == 'BRU' and arrivalAirport == 'IBZ' and (departureDate >= '2023-05-24' and departureDate < '2023-05-25') ")

,scrapeDate,departAirport,arrivalAirport,marketingAirline,departureDate,arrivalDate,flightNumber,totalPrice,baseFare,taxSurcharge
2,2023-03-23,BRU,IBZ,HV,2023-04-01T12:30:00,2023-04-01T14:50:00,9009,268.0,230.86,37.14
6,2023-03-23,BRU,IBZ,HV,2023-04-03T06:30:00,2023-04-03T08:55:00,9009,245.0,207.86,37.14
10,2023-03-23,BRU,IBZ,HV,2023-04-05T06:30:00,2023-04-05T08:55:00,9009,88.0,50.86,37.14
15,2023-03-23,BRU,IBZ,HV,2023-04-07T17:20:00,2023-04-07T19:45:00,9009,66.0,28.86,37.14
18,2023-03-23,BRU,IBZ,HV,2023-04-08T12:30:00,2023-04-08T14:50:00,9009,129.0,91.86,37.14
...,...,...,...,...,...,...,...,...,...,...
514,2023-03-23,BRU,IBZ,HV,2023-09-23T17:40:00,2023-09-23T20:05:00,9013,76.0,38.86,37.14
521,2023-03-23,BRU,IBZ,HV,2023-09-25T06:30:00,2023-09-25T08:55:00,9009,100.0,62.86,37.14
527,2023-03-23,BRU,IBZ,HV,2023-09-27T06:30:00,2023-09-27T08:55:00,9009,114.0,76.86,37.14
534,2023-03-23,BRU,IBZ,HV,2023-09-29T16:50:00,2023-09-29T19:15:00,9009,146.0,108.86,37.14
538,2023-03-23,BRU,IBZ,HV,2023-09-30T17:40:00,2023-09-30T20:05:00,9013,66.0,28.86,37.14